*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
main{
    padding: 0 24px;
}

body{
    background: #0e0b13;
}
h1,h2,h3,h4,h5,h6, p{
    text-align: center;
    color: rgba(255, 255, 255, 0.493);
}
h2{
    margin: 150px 20px 65px 20px;
} 
a{
    text-decoration: none;
    color: white;
}
a:hover{
    transition: .5s;
    color: rgb(209, 181, 245);
    text-decoration: underline rgb(110, 22, 226);
}

/* menu */
header{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    white-space: nowrap;
}
header a{
    text-decoration: none;
    margin-left: 5px;
}
header a:hover{
    text-decoration: none;
}
btn-abrir{
    background-color: white;
    font-size: 25px;
}
nav{
    white-space: nowrap;
    opacity: .8;
    height: 100%;
    width: 0px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;/* elemento filho ficar fora desaparecer*/
    transition: width 0.3s;
}
.invisible{
    padding: 20px;
}
nav a{
    margin-bottom: 20px;
    color:  #a0a0a0;
    font-size: 15.5px;
    display: block;
    /* padding: cima, direita, baixo, esquerda; */
    padding: 11px 20px;
    transition: .2s;
}
nav a:hover{
    text-decoration: none;
    color: white;
    font-size: 17px;
    background-color: rgb(15, 15, 15);
    border-bottom: 1px solid #700000;
    transition: .2s;
    margin-bottom: 25px;
}
nav a:hover .home{
    transition: .3s;
    margin-left: 10px;
}
nav a:hover .sobremim{
    transition: .3s;
    margin-left: 10px;
}
nav a:hover .contato{
    transition: .3s;
    margin-left: 10px;
}
nav a:hover .cmd{
    transition: .3s;
    margin-left: 10px;
}
nav a:hover .aparencia{
    transition: .3s;
    margin-left: 10px;
}
main{
    /* padding: 10px; */
    transition: margin-left 0.5s;
}
.menu .home{
    margin: 100px 0 10px 0;
}
/* contato/redes sociais */
.icons a{
    text-decoration: none;
}
/* sobremim/ curriculo */
.button a{
    text-decoration: none;
}

@media screen and (max-width: 650px){
    #content{
        position: relative;
        margin-left: 0;
        size: 10px;
    }
    #menu{
        width: 0;
    }
    footer p{
        padding: 5px;
    }
}
/* document.getElementById('menu').style.width = '210px';
document.getElementById('content').style.marginLeft = '210px'; */