/* typing */
.line{
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Courier New', Courier, monospace;
    /* display: flex;
    text-align: center; */
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.txt{
    font-family: 'Source Sans Pro';
    font-size: 1.3em;
    position: absolute;
    z-index: 10;
    top: 68%;
    left: 48%;
    margin: -110px 0 0 -100px;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 100;
}
.typing-animation{
    animation: blinkCursor 500ms steps(40) infinite normal,
                    typing 4s steps(40) 1s normal both;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 250px;
    }
}
@keyframes blinkCursor{
    form{
        border-right-color: rgba(255, 255, 255, .75);
    }
    to{
        border-right-color: transparent;
    }
}

/*config particles*/
#particles-js{
    width: 100%;
    height: 655px;
    margin-bottom: 0;
    padding: 0;
    background: #0e0b13;
    /* background: #3C3259;
    background: #24242e;
    background: #191622; */
}

.align{
    justify-content: center;
    flex-direction: column;
}
.sobresite{
    background: #191622;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    opacity: .8;
    padding: 3% 20px;
    text-align: center;
    margin-top: -30px;
}
.design{
    text-align: center;
}

.footer{
    background-color: #000;
}
/* .design{
    position: absolute;
    background: #191622;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    opacity: .8;
    padding: 3% 20px;
    text-align: center;
    margin: 590px 0;
} */